<html>
<head>
    <meta charset="utf-8">
    <title>Na!</title>
 <link rel="stylesheet" href="styles.css">
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="script.js"></script>
<style>
footer
{
     background-color:#141414;
     color:#fff
}
</style>
</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
        <ul class="nav navbar-nav">
        <li class="active" ><a href="/"> <span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
        <li><a href="/about">Rreth nesh</a></li>
        <li><a href="/contact">Ku mund te na gjeni?</a></li>
    <li><a href="/orari">Orari i Pastrimit</a></li>
        </ul>
    </nav>
    {{{body}}}
    <footer>
        <div class="row">
            <div class="col-sm-1 col-md-1">
            </div>
            <div class="col-sm-3 col-md-3">
                <p>Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum.
                    Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. 
                    Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. 
                    Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum.                     
                </p>
            </div>
            <div class="col-sm-8 col-md-8">
                <p>Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum.
                    Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. 
                    Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. 
                    Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. 
                    Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum.
                    Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. 
                    Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. 
                    Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. 
                    Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum.
                    Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. 
                    Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. 
                    Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum. Lorem ipsum monum.                     
                </p>  
            </div>
        </div>
        <div class="row">
            <hr>
            <p class="text-center">Copyright Shpi e madhe</p>
        </div>
    </footer>
 
</body>
</html>