<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div>
  <div>
  <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
         <ul class="nav navbar-nav">
    <li><a href="/"> <span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
      <li class="active"><a href="/about">Rreth nesh<span class="sr-only">(current)</span></a></li>
      <li><a href="/contact">Ku mund te na gjeni?</a></li>
   <li><a href="/orari">Orari i pastrimit</a></li>
      </ul>
</nav>
</div>
  <br/>
  <div class="jumbotron">
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-circle" src="/photo.jpeg" alt="My_Logo" style="width:150px;heigth:150px">
      <div class="caption">
        <h3>Arvanit</h3>
        <p>a.k.a Lula</p>
      </div>

    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-circle" src="/photo1.jpg" alt="My_Logo" style="width:150px;heigth:150px">
      <div class="caption">
        <h3>Auroni</h3>
        <p>a.k.a Unaza</p>
      </div>

    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-circle" src="/photo.jpeg" alt="My_Logo" style="width:150px;heigth:150px">
      <div class="caption">
        <h3>Endriti</h3>
        <p>a.k.a Slim Daddy, a.k.a Dafa</p>
      </div>

    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-circle" src="/photo.jpeg" alt="My_Logo" style="width:150px;heigth:150px">
      <div class="caption">
        <h3>Imi</h3>
        <p>a.k.a Rugova</p>
      </div>

    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-circle" src="/photo.jpeg" alt="My_Logo" style="width:150px;heigth:150px">
      <div class="caption">
        <h3>Egzoni</h3>
        <p>a.k.a Ja jo ja</p>
      </div>

    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-circle" src="/photo.jpeg" alt="My_Logo" style="width:150px;heigth:150px">
      <div class="caption">
        <h3>Agoni</h3>
        <p>a.k.a Flexi</p>
      </div>

    </div>
  </div>
</div>
  </div>
</body>
</html>