<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  
  <div>
  <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
         <ul class="nav navbar-nav">
         <li><a href="/"> <span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
        <li><a href="/about">Rreth nesh</a></li>
        <li class="active"><a href="/contact">Ku mund te na gjeni?<span class="sr-only">(current)</span></a></li>
        <li><a href="/orari">Orari i pastrimit</a></li>
      </ul>
</nav>
</div>
  <br/>
<div class="jumbotron">
    <div class="row">
        <div class="col-sm-12 col-md-12">
        <div class="text-center">
            <h1>Ku mund te na gjeni?</h1>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4">
            
      </div>
        <div class="col-sm-4 col-md-4">
            <img class="img-responsive" src="/b2.jpg" alt="My_Logo" style="width:550px;heigth:450px">
      </div>
        <div class="col-sm-4 col-md-4">
            
      </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-4 col-md-4">
            
      </div>
        <div class="col-sm-4 col-md-4" style="margin:0 auto">
            <img class="img-responsive" src="/map.jpg" alt="My_Logo" style="width:550px;heigth:450px">
            </div>
        <div class="col-sm-4 col-md-4">
            
      </div>    
    </div>
</div>

</body>
</html>