<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div>
  <div>
  <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
         <ul class="nav navbar-nav">
         <li><a href="/"> <span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
        <li><a href="/about">Rreth nesh</a></li>
        <li class="active"><a href="/contact">Ku mund te na gjeni?<span class="sr-only">(current)</span></a></li>
        <li><a href="/orari">Orari i pastrimit</a></li>
      </ul>
</nav>
</div>
  <br/>
  <div>
<div class="jumbotron">
    <div class="row">
        <div class="col-sm-12 col-md-12">
        <div class="text-center">
            <h1>Ku mund te na gjeni?</h1>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-md-2">
        </div>
        <div class="col-sm-5 col-md-5">
            <img class="text-center" src="/b2.jpg" alt="My_Logo" style="width:550px;heigth:450px">

            </div>
        <div class="col-sm-5 col-md-5">
            <img class="" src="/map.jpg" alt="My_Logo" style="width:350px;heigth:350px">

            </div>
    
    </div>
</div>
</div>
  </div>
</body>
</html>