<!doctype html>
<html lang="en">
<head>
    <style>
        body{
            background: #f1eeed ;
        }
    </style>
</head>
<body>

<div class="jumbotron"> <p>
ku jee be maco.
</p></div>
</div>

</body>
</html>